<html>
  <head>
    <title>Welcome to <%= @site_title %>, Jejejeje!!!!!</title>
  </head>
  <body>
    <h1>Success! The <%= @site_title %> virtual host is working!</h1>
    <h4> <%= @author_name %> </h4>
  </body>
</html>
